@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff; /* pure white */
  --foreground: #171717; /* neutral-900 */
}

.dark {
  --background: #171717; /* neutral-900 */
  --foreground: #f5f5f5; /* neutral-100 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 150ms ease, color 150ms ease;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} 
*/